##### Git ignore pattern
## See https://git-scm.com/docs/gitignore
## See https://docs.github.com/en/free-pro-team@latest/github/using-git/ignoring-files
## See https://github.com/github/gitignore
## See https://www.toptal.com/developers/gitignore


### Unix

/tmp/
*~
*.swp
*.orig
# core
*.log


### macOS

*.DS_Store
._*
__MACOSX


### Windows

Thumbs.db
[Dd]esktop.ini
*.lnk


### JDK

*.class
hs_err_pid*


### Maven

/target/


### Netbeans

/build/
/nbbuild/
/dist/
/nbdist/
/nbproject/
/nbactions.xml
/nb-configuration.xml


### Eclipse

/bin/
/.settings/
/.metadata/
/.externalToolBuilders/
/.classpath
/.project
/.checkstyle


### IntelliJ

/.idea/
/out/
*.iws
*.iml
*.ipr


### BlueJ files

*.ctxt


### Visual Studio Code

/.vscode/


### Package Files

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


### EOF ###
